<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Employee
  </h1>
</div>
<div class="form-group">
  <form >
    <div class="form-group">

    <input  class="form-control form-control-sm " type="text"  placeholder="Enter Employee Name" [(ngModel)]="newEmployee.name" name="name"/>
    <br/>
    <input class="form-control form-control-sm" type="number" placeholder="Enter Employee Salary" [(ngModel)]="newEmployee.salary" name="salary"/>
    <br/>
    <input class="form-control form-control-sm" type="number" placeholder="Enter Employee Age" [(ngModel)]="newEmployee.age"  name="age"/>
    <br/>
      <button class=" btn btn-primary" type="submit" (click)="createEmployeeData()">Save</button>
    </div>

  </form>
</div>






<div class="row">
    <input type="text" placeholder="          Search" [(ngModel)]="searchText"/>
</div>
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">

  <thead>
    <tr>
      <th class="th-sm" [class.active]="order === 'employee_name'"  (click)="setOrder('employee_name')" ><span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span>Name</th>
      <th class="th-sm" [class.active]="order === 'employee_salary'"  (click)="setOrder('employee_salary')"><span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span>Salary</th>
      <th class="th-sm" [class.active]="order === 'employee_age'"  (click)="setOrder('employee_age')"><span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span>Age</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let emp of pageEmployees | filter:searchText |  paginate: {itemsPerPage: 10, currentPage: pageNumber}  | orderBy: order:reverse:'case-insensitive' ;let index=index" id="{{emp.id}}">
      <td>{{emp.employee_name}}</td>
      <td>{{emp.employee_salary}}</td>
      <td>{{emp.employee_age}}</td>
      <td >
        <button (click)="deleteEmployeeData(emp.id)" type="button" class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>
  </tbody>

</table>
<pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
